[submodule "riscv-arch-test"]
	path = tests/riscv-arch-test
	url = https://github.com/riscv-non-isa/riscv-arch-test
[submodule "mini-gdbstub"]
	path = src/mini-gdbstub
	url = https://github.com/RinHizakura/mini-gdbstub
[submodule "softfloat"]
	path = src/softfloat
	url = https://github.com/sysprog21/berkeley-softfloat-3
