# external files
build/DOOM1.WAD*
tools/kconfig/
shareware_doom_iwad.zip*
quakesw-1.0.6.zip*
build/id1/
build/gfx.wad
build/doomrc
toolchain/

# built objects
.config
.config.old
build/rv32emu
build/arch-test
build/mini-gdbstub
build/softfloat
build/cache/
build/map/
build/path/
build/rv32emu-prebuilt.tar.gz
build/linux-x86-softfp/
build/riscv32/
build/sail_cSim/
build/sha1sum-*
build/bin2c
build/minimal.dtb
*.a
*.o
*.o.d
tests/**/*.elf
tests/arch-test-target/config.ini
tests/arch-test-target/sail_cSim/riscv_sim_RV32
tests/scimark2/
__pycache__/
src/minimal_dtb.h
src/rv32emu_config.h
