# external files
build/DOOM1.WAD*
shareware_doom_iwad.zip*
quakesw-1.0.6.zip*
build/id1/
build/gfx.wad
build/doomrc

# built objects
build/.config
build/rv32emu
build/arch-test
build/mini-gdbstub
build/cache/
build/map/
*.o
*.o.d
tests/**/*.elf
tests/arch-test-target/config.ini
__pycache__/
