[submodule "riscv-arch-test"]
	path = tests/riscv-arch-test
	url = https://github.com/riscv-non-isa/riscv-arch-test
	shallow = true
[submodule "mini-gdbstub"]
	path = src/mini-gdbstub
	url = https://github.com/RinHizakura/mini-gdbstub
	shallow = true
[submodule "softfloat"]
	path = src/softfloat
	url = https://github.com/ucb-bar/berkeley-softfloat-3
	shallow = true
[submodule "tests/ansibench"]
	path = tests/ansibench
	url = https://github.com/sysprog21/ansibench
	shallow = true
[submodule "tests/rv8-bench"]
	path = tests/rv8-bench
	url = https://github.com/sysprog21/rv8-bench
	shallow = true
[submodule "src/ieeelib"]
	path = src/ieeelib
	url = https://github.com/sysprog21/ieeelib
	shallow = true
[submodule "tests/doom"]
	path = tests/doom
	url = https://github.com/sysprog21/doom_riscv
	shallow = true
[submodule "tests/quake"]
	path = tests/quake
	url = https://github.com/sysprog21/quake-embedded
	shallow = true
[submodule "src/dtc"]
	path = src/dtc
	url = https://github.com/dgibson/dtc
	shallow = true
[submodule "tests/system/br_pkgs/doom_riscv"]
	path = tests/system/br_pkgs/doom_riscv
	url = https://github.com/sysprog21/doom_riscv
	shallow = true
[submodule "tests/system/br_pkgs/quake"]
	path = tests/system/br_pkgs/quake
	url = https://github.com/sysprog21/quake-embedded/
	shallow = true
