Cerberus==1.3.7
chardet==5.2.0
click==8.1.8
colorlog==6.9.0
DataProperty==1.1.0
gitdb==4.0.12
GitPython==3.1.17
iniconfig==2.0.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mbstrdecoder==1.1.4
packaging==24.2
pathvalidate==3.2.3
pluggy==1.5.0
pyelftools==0.26
pytablewriter==1.2.1
pytest==8.3.4
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==5.2
riscof @ git+https://github.com/riscv/riscof.git@d38859f85fe407bcacddd2efcd355ada4683aee4
riscv-config==3.18.3
riscv-isac==0.18.0
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
setuptools==78.1.1
six==1.17.0
smmap==5.0.2
tabledata==1.3.4
tcolorpy==0.1.7
typepy==1.3.4
